
* {
  color: black;
  font-family: 'Roboto Condensed', sans-serif;
}
.hide {
  display: none!important;
}

.react-datepicker-wrapper {
  width: 100%;

}

.react-datepicker__input-container {
  transition: all 0.1s linear;
  grid-column: 5/10;
  grid-row: 2/4;

  display: flex;
  justify-content: center;

  input {
    //color: rgba(100, 250, 250, 1);
    height: 6vw;
    max-height: 80px;
    //max-width: 80vw;
    min-height: 50px;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    transition: all 0.1s linear;
    text-align: center;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    &:focus {
      outline: none;
    }
    &:hover {
      background: #c8bbbb;
      //color: white;
      transform: scale(1.01);
      //border-bottom: 3px solid rgba(0, 0, 0, 0.6);
      cursor: pointer;
    }
  }
}

.react-datepicker__month-container {
  max-width: 600px;
  width: 85vw;
  min-height: 410px;
}

.react-datepicker {
  display: flex;
}

.react-datepicker-popper {
  left: 0;
  height: 380px;
}

.VictoryContainer {
  //margin-top: 30%;
  margin-bottom: 10px;
  padding: 0 20px;
}
