version: '3.1'

services:
  mongo:
    image: mongo
    container_name: mongo
    hostname: mongo
    ports:
      - 27017:27017
    volumes:
      - mongodb:/data/db
    networks:
      - app-network

  mongoclient:
    image: mongoclient/mongoclient:latest
    container_name: mongoclient
    hostname: mongoclient
    depends_on:
      - mongo
    ports:
      - 3300:3000
    networks:
      - app-network

  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    restart: unless-stopped
    volumes:
      - ./server/src:/usr/app/src
      - ./server/node_modules:/usr/app/node_modules
    depends_on:
      - mongo
    ports:
      - "8081:8081"
    environment:
      PORT: 8081
    networks:
      - app-network

  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    restart: always
    depends_on:
      - server
    ports:
      - "8080:8080"
    volumes:
      - ./client/src:/usr/app/src
#    networks:
#      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  mongodb:
